:host{
  display: flex;
  margin-top: 20px;
}
.user-menu{
  width: 200px;
  ul{
    li{
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #eeeeee;
    }
  }

  a{
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    &:hover{
      color: #0099FF;
    }
    &.active{
      color: #0099FF;
      background-color: rgba(#0099FF, .1);
    }
  }
}
