.article{
  max-width: 1000px;
  margin: 0 auto;
}

.article-item{
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
  outline: none;

  &:hover{
    background-color: rgba(#0099FF, .1);
  }
  p{
    color: #0099FF;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .user{
    margin-top: 10px;
    margin-right: 10px;
  }
}

.record{
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
