.article{
  width: 1000px;
  margin: 0 auto;
}

.article-item{
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  &:hover{
    background-color: #eeeeee;
  }
  p{
    color: #0099FF;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .user{
    margin-top: 10px;
    margin-right: 10px;
  }
}
