.article{
  width: 1000px;
  margin: 0 auto;
}

.article-item{
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
  a{
    display: block;
    color: #0099FF;
    font-size: 20px;
  }
  .user{
    margin-top: 10px;
  }
}
