form{
    max-width: 300px;
    // padding-bottom: 100px;
    button{
        margin: 10px 5px 0;
    }
}

.login{
    height: 100%;
}

.mat-input-container{
    display: block;
    width:  100%;
}

.mat-tab-header{
    margin-bottom: 20px;
}