.fox-tabs{
  overflow: hidden;
}

.fox-tabs-title{
  list-style: none;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin-bottom: 20px;
  li{
    flex: 1;
    text-align: center;
    color: #333333;
    cursor: pointer;
    &.active{
      color: #0099FF;
      border-bottom: 1px solid #0099FF
    }
  }
}
