<div class="form-group">
    <a routerLink="./add" routerLinkActive="active" class="fox-btn primary">添加文章</a>
</div>
<table>
    <thead>
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>内容</th>
            <th>作者</th>
            <th>是否公开</th>
            <th>是否发表</th>
            <th>创建日期</th>
            <th>修改日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr class="article" *ngFor="let article of articles; let i = index;">
            <td>{{i + 1}}</td>
            <td>{{article.title}}</td>
            <td>{{article.content | ellipsis: 30:20}}</td>
            <td>{{article && article.user && article.user.username}}</td>
            <td>{{article && article.public ? '是': '否'}}</td>
            <td>{{article && article.publish ? '是': '否'}}</td>
            <td>{{article.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{article.updated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><a class="fox-btn primary" [routerLink]="['/dashboard/article/edit/', article._id]">修改</a></td>
        </tr>
    </tbody>

</table>
