.sider{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow: auto;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;

    ul{
        list-style: none;
        padding: 10px;

        li{
            height: 50px;
            line-height: 50px;
            vertical-align: center;

            a.active{
                color: #ffffff;
            }
        }
    }
}