<div class="form-group">
  <a class="fox-btn primary" [routerLink]="['/dashboard/user/add']">创建用户</a>
</div>
<table>
  <thead>
  <tr>
    <th>编号</th>
    <th>ID</th>
    <th>用户名</th>
    <th>创建时间</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hero of heroes; let i = index;" class="col-1-4">
    <td>{{i+1}}</td>
    <td>{{hero._id}}</td>
    <td class="module hero">
      {{hero.username}}
    </td>
    <td>
      {{hero.created | date:'yyyy-MM-dd HH:mm:ss'}}
    </td>
  </tr>
  </tbody>
</table>
